PORT=4000
MONGO_URI=mongodb://localhost:27017/jd-virtual-store
JWT_SECRET=cambia_esto_por_una_clave_secreta_larga
JWT_EXPIRES=7d
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@jdvirtual.com
ADMIN_PASSWORD=jd2024
